[submodule "src/hal/vendor/stm32g0xx_hal"]
	path = src/hal/vendor/stm32g0xx_hal
	url = git@github.com:STMicroelectronics/stm32g0xx_hal_driver.git
[submodule "src/hal/vendor/stm32g0xx_device"]
	path = src/hal/vendor/stm32g0xx_device
	url = git@github.com:STMicroelectronics/cmsis_device_g0.git
[submodule "src/hal/vendor/cmsis_core"]
	path = src/hal/vendor/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "src/hal/vendor/stm32_pin_data"]
	path = src/hal/vendor/stm32_pin_data
	url = https://github.com/STMicroelectronics/STM32_open_pin_data
